@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
}

.text--purple{
    color: rgb(98, 0, 255);
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-top: 16px;
}

header{
    background-color: white;
    height: calc(100vh - 100px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
}

a{
    color: black;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

li{
    list-style-type: none;
    padding-left: 16px;
}

.sign__up{
    list-style-type: none;
    margin-left: 16px;
    font-size: 16px;
    padding: 8px 16px;
    color: white;
    background-color: rgb(98, 0, 255);
    border-radius: 16px;
}


.logo{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
}

.logo__img{
    max-width: 100%;
    max-height: 100%;
}

.intro{
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 480px;
}

h1{
    font-size: 55px;
    margin: bottom 16px;;
}

p{
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 16px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.landing__img{
    max-width: auto;
    max-height: auto;
}

/* Features */

.container{
    padding: 80px 0;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.services{
    display: flex;
    flex-wrap: wrap;
}

.service__container{
    display: flex;
    width: calc(100%/3);
}

.service__description{
    display: flex;
    flex-direction: column;
}

.features__intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h5{
    font-size: ;
}

Left on H5 styling