@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto' , sans-serif;
}

section{
    margin-bottom: 400px;
}

.text--purple{
    color: rgb(98, 0, 255);
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-top: 16px;
    margin-bottom: 32px;
}

.beautiful{
    background-color: white;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
}

a{
    color: black;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

li{
    list-style-type: none;
    padding-left: 16px;
}

.sign__up{
    list-style-type: none;
    margin-left: 16px;
    font-size: 16px;
    padding: 8px 16px ;
    color: white;
    background-color: rgb(98, 0, 255);
    border-radius: 16px;
}


.logo{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
}

.logo__img{
    max-width: 100%;
    max-height: 100%;
}

.intro{
    display: flex;
    flex-direction: column;
    width: 40%;
}

h1{
    font-size: 55px;
    margin: bottom 16px;;
}

p{
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 16px;
    color: grey;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.landing__img{
    width: 720px;
}

.women{
    max-width: 100%;
}

/* Features */

.container{
    padding: 80px 0;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.services{
    display: flex;
    flex-wrap: wrap;
}

.service__container{
    display: flex;
    width: calc(100%/3);
    padding: 16px;
}

.service__description{
    display: flex;
    flex-direction: column;
}

.features__intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h5{
    font-size: 24px;
    margin-bottom: 16px;
}

h2{
    font-size: 55px;
    margin-bottom: 16px;
}

.features__description{
    width: 100%;
    max-width: 600px;
    padding: 16px;
    margin-bottom: 20px;
    text-align: center;
    color: grey;
}

.title{
    font-size: 32px;
    font-weight: bold;
}

.description{
    color: grey;
}

/* Quality Work */

.quality{
    display: flex;
    align-items: center;
    justify-content: center;
}

.designed{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.hero__img{
    width: 600px;
}

.hero{
    max-width: 100%;
}

.learn__more{
    list-style-type: none;
    font-size: 16px;
    padding: 8px 16px ;
    color: white;
    background-color: rgb(98, 0, 255);
    border-radius: 16px;
    width: 100%;
    max-width: 180px;
    height: 100%;
    max-height: 40px;
}

.ddp{
    font-size: 40px;
    font-weight: 1000;
}

/* Steps */

.easy{
    display: flex;
    align-items: center;
    justify-content: center;
}

.laptop{
    width: 600px;
}

.laptop__img{
    max-width: 100%;
}

.easy__steps{
    width: 50%;
    padding-left: 48px;
}

.steps{
    display: flex;
    flex-direction: column;
}

.steps__list{
    padding: 0;
    list-style-type: none;
    display: flex;
}

.list__number{
    color: grey;
    font-size: 40px;
    font-weight: bold;
}

.title__description{
    margin-bottom: 16px;
}

h6{
    font-size: 28px;
}

/* Values */

.values{
    display: flex;
    align-items: center;
    justify-content: center;
}

.we__always{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.affordable__professionalism{
    display: flex;
}

h4{
    font-size: 24px;
}

/* Pricing */

.plans{
    display: flex;
    flex-wrap: wrap;
}

.plan{
    width: calc(30%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid grey;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    margin-right: 2rem;
}

.options{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.buying__options{
    padding: 0;
    margin-bottom: 8px;
    color: grey;
}

.buying__title{
    margin-bottom: 8px;
}

.buying__option{
    padding: 0;
    margin-bottom: 8px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.buy__now{
    list-style-type: none;
    margin-bottom: 16px;
    font-size: 16px;
    padding: 8px 16px ;
    color: white;
    background-color: rgb(17, 188, 134);
    border-radius: 16px;
    width: 100%;
    max-width: 180px;
    height: 100%;
    max-height: 40px
}

.plan__business{
    width: calc(30%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid grey;
    background-color: rgb(76, 81, 191);
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    margin-right: 2rem;
}

.buying__title__business{
    font-size: 24px;
    color: white;
}

.price__business{
    color: white;
    font-size: 55px;
    margin: bottom 16px;;
}

.buying__title__business{
    font-size: 24px;
    margin-bottom: 8px;
}

.buying__option__business{
    padding: 0;
    margin-bottom: 8px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.buying__options__business{
    padding: 0;
    margin-bottom: 8px;
    color: white;
}

.monthly__business{
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 16px;
    color: white;
}

.buy__now__business{
    list-style-type: none;
    margin-bottom: 16px;
    font-size: 16px;
    padding: 8px 16px ;
    color: rgb(76, 81, 191);
    background-color: white;
    border-radius: 16px;
    width: 100%;
    max-width: 180px;
    height: 100%;
    max-height: 40px
}

.buy__now__enterprise{
    list-style-type: none;
    margin-bottom: 16px;
    font-size: 16px;
    padding: 8px 16px ;
    color: white;
    background-color: rgb(245, 101, 101);
    border-radius: 16px;
    width: 100%;
    max-width: 180px;
    height: 100%;
    max-height: 40px
}

/* Testimonials */

.testimonials{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 52px;
}

.stars{
    color: gold;
    font-size: 40px;
}

/* Faqs */

.faqs__list{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
}

.faqs__item{
    border: solid #e5e7eb;
    margin-bottom: 32px;
    font-size: 28px;
    background-color: #e5e7eb;
    border-radius: 8px;
    padding: 12px;
}

.list__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* mini footer */

.mini__footer{
    width: 100%;
    max-width: 1245px;
    margin: 0 auto;
    background-color: rgb(98, 0, 255);
    border-radius: 20px;
}

.developers{
    color: white;
    font-size: 44px;
    display: flex;
    align-items: center;
    padding: 96px 111px;
}

.get__started{
    list-style-type: none;
    margin-bottom: 16px;
    font-size: 16px;
    padding: 8px 16px ;
    color: white;
    background-color: rgb(245, 101, 101);
    border-radius: 16px;
    width: 100%;
    max-width: 180px;
    height: 100%;
    max-height: 40px
}

.contact__us{
    list-style-type: none;
    margin-bottom: 16px;
    font-size: 16px;
    padding: 8px 16px ;
    border-color: white;
    color: white;
    background-color: rgb(98, 0, 255);
    border-radius: 16px;
    width: 100%;
    max-width: 180px;
    height: 100%;
    max-height: 40px
}

/* Footer */

footer{
    background-color: rgb(98, 0, 255);
}

.footer__links{
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
}

.footer__link{
    display: flex;
    flex-direction: column;
    color: white;
    width: calc(100%/5);
    align-items: center;
}

.link__title{
    display: flex;
    flex-direction: column;
}

.footer__list{
    display: flex;
    flex-direction: column;
}

.footer__list__item{
    margin-bottom: 16px;
    padding-left: 0;
}

.footer__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    color: white;
}